@model Strivve.Client.Widget.CardUpdatr.Models.StrivveCardUpdatrModel
@using Alkami.Client.WebClient.Shared.Helpers

@section TitleContentPlaceholder{
	@Html.SiteText("Title")
}

@section StyleSheetContentPlaceholder{
}

@section JavaScriptIncludeContentPlaceholder{
}

<div class="container" style="background-color: white; width: 100%; text-align: center; padding-top: 3vh; min-height: 100vh;">
	<!-- This script loads in from a .cardupdatr.app domain. -->
	<script src="https://pkumar.cardupdatr.app/cardupdatr-client.js"></script>
	<!-- Empty div to initialize the iFrame which loads CardUpdatr. -->
	<div class="cardupdatr-frame" id="cardupdatr-frame"></div>
</div>
<script>

    var my_grant = '@Model.Grant';
	var my_cardid = '@Model.CardID';

    window.initCardupdatr(settings = {
        config: {
            app_container_id: "cardupdatr-frame",
			hostname: "https://pkumar.cardupdatr.app/"
        },
        user: {
            grant: my_grant,
            card_id: my_cardid
        }
    });
</script>
<style>
	.sleeve {
		flex: 1 1 0;
		margin: auto;
	}

	.credit-card {
		margin: 0px;
		display: flex;
		flex-shrink: 0;
		background: #555;
		position: relative;
		flex-direction: column;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 1px 1px 0 rgba(255,255,255,.3);
		width: 337px;
		height: 212px;
		opacity: .5;
	}

	.selected {
		transform: scale(1.1);
		z-index: 2;
		opacity: 1;
		box-shadow: 0 2px 10px rgba(0,0,0,.5), 0 10px 50px 5px rgba(0,0,0,.25), inset 1px 1px 0 rgba(255,255,255,.3);
	}


	.before {
		content: '';
		border-radius: inherit;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
	}

	.card-type, .card-company {
		text-align: right;
		text-transform: uppercase;
		margin: 10px;
		color: rgba(0,0,40,.5);
	}

	.card-company {
		font-family: Georgia, Garamond;
		box-shadow: inset 1px 0 0 rgba(255,255,255,.3);
		font-weight: normal;
		padding: 10px;
		background: #C32;
		color: #FB0;
		letter-spacing: 1px;
		text-align: center;
		margin: 15px 0;
	}

	.card-number, .card-expire, .card-holder {
		display: flex;
		margin: 5px;
		justify-content: center;
		font-family: monospace;
		font-size: 24px;
		color: rgba(255,255,255,.8);
		text-shadow: 0 1px 1px rgba(0,0,0,.5);
	}

	.digit-group {
		margin: 5px;
	}

	.card-expire, .card-holder {
		font-size: 16px;
		justify-content: flex-start;
		padding: 0 20px;
	}

	.card-text {
		font-size: 12px;
		font-family: sans-serif;
		color: #000;
		color: rgba(0,0,40,.5);
		text-shadow: none;
		margin: 3px;
		margin-left: 10px;
	}

	.card-type {
		margin-top: auto;
		font-size: 14px;
	}

	.shrink {
		-webkit-transform: scale(0.6);
		-moz-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}
</style>

