@model Alkami.Client.Framework.Mvc.BaseModel
@section TitleContentPlaceHolder {
    Strivve CardUpdatr
}
<div class="blank-slate-message">
    <h3>An unexpected error occurred. Please try again later.</h3>
    <p>Please use the secure message system to submit any questions or concerns.</p>
    <a href="/MessageCenter/Compose" class="primary button">Send a Message</a>
</div>
